@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-hacker-dark text-gray-100;
  }
  
  * {
    @apply font-mono;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

